# Dependencias
node_modules/
dist/

# Evidencias y Reportes (Lo que pides)
reports/videos/
reports/screenshots/
reports/cucumber-report.html

# Archivos de entorno y logs
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración de editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln